__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
*.egg-info
dist
build
.git
.gitignore
README.md
.env
*.sqlite3
media/audio/*
media/transcripts/*
!media/audio/.gitkeep
!media/transcripts/.gitkeep
